body{
margin:0;
font-family:Arial;
color:white;
background: radial-gradient(circle at center, #1a0d00 0%, #0f0f0f 70%);
}

body::before{
content:"";
position:fixed;
width:100%;
height:100%;
background:linear-gradient(90deg, rgba(255,165,0,0.15), transparent, rgba(255,165,0,0.15));
pointer-events:none;
}

section{
max-width:900px;
margin:40px auto;
background:#111;
padding:30px;
border-radius:15px;
box-shadow:0 0 25px rgba(255,165,0,0.3);
}

header{
background:#111;
padding:20px;
border-bottom:2px solid orange;
box-shadow:0 0 15px orange;
text-align:center;
}